serverAddress:OF course I will not show you my ip address here, type in your server's ip please
serverPort:20000
bufferSize:8192
localTaskFile:TaskFile.py
clientID:TXPMAC
requestTaskCommand:getTask
taskResourceSplit:[TASK+=+Resource]
ResourceSplit:[Resource+=+Resource]
ResourceNameContentSplit:[Filename+=+Content]
protocalSplit:[+=+]
resultBufferFile:result.buffer
reportTaskCommand:reportTask[TAKSRESULT]